@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*
 Above font is Roboto Light (300)
 */

* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 40px;
    background-color: #0f0f0f;
    color: #ffffff;

    display: block;
}

a {
    color: #5baae5;
    transition: color 0.25s ease;
}

a:hover {
    color: #4b80b3
}

input,button{
    margin: 10px auto;
    font-size: 14pt;
}

.indent {
    margin-left: 25px;
}

.faded {
    color: #99999f;
}