@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*
 Above font is Roboto Light (300)
 */

* {
    font-family: 'Roboto', sans-serif;
}

/*
Classes
 */

.row {
    flex-direction: row;
    align-items: center;
}

.column {
    flex: 1 0;
    flex-direction: column;
    justify-content: space-evenly;
}

/*
Acts like a column... and a row - elements inside are inline
 */
.column-inline {
    flex: 1 0;
    justify-content: space-evenly;
    flex-direction: row;
}

.center-items {
    align-items: center;
}

.container {
    flex-direction: column;
    flex: 1;
    padding: 10px 40px;
    flex-wrap: nowrap;
    display: flex;
}

.indent {
    margin-left: 25px;
    flex-direction: column;
}

.faded {
    color: #99999f;
}

.footer {
    flex-shrink: 0;
    margin: 0 10px 40px 40px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.anchor-top {
    align-self: flex-start;
}

.gallery {
    display:grid;
    grid-gap:10px;
    grid-template-columns: auto auto auto;
}

.gallery>a>img {
    filter: brightness(100%);
    transition: filter 0.5s ease;
    image-rendering: pixelated;
}

.gallery>a>img:hover {
    filter: brightness(110%);
}

/*
Tag specific
 */

html,body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #0f0f0f;
    color: #ffffff;

    display: flex;
    flex-direction: column;
}

div {
    display: inherit;
}

hr {
    width: 100%;
}

/**
h3 shouldn't be bold change my mind
 */
h3 {
    font-weight: normal;
}

ul li {
    list-style: none;
    font-size: 14pt;
    padding: 4px 0;
}

a {
    color: #5baae5;
    transition: color 0.15s ease;
    text-decoration: none;
}

a:hover {
    color: #4b80b3
}

input,button{
    margin: 10px;
    font-size: 14pt;
    border-radius: 5px;
}

/**
Not a fan of this solution but I'm not fixing it for now since I wont know whats best until I use it elsewhere
 */
input[type=text],button {
    width: 50%;
}