<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="Grayson's *things* - GOOSE">
    <meta property="og:description" content="A tiny operating system developed for 'fun'">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/212023153499570177/c986cd70349644d96a640d4d5151a013.webp?size=256">

    <link rel="shortcut icon" href="favicon.ico?" type="image/x-icon">

    <title>Grsan's static sites</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
        <a class="navbar-brand" id="title" href="../index.html">Grayson's <em>things</em></a>
        <div class="collapse navbar-collapse me-auto">
            <ul class="navbar-nav align-self-end">
                <li class="nav-item active"><a href="https://github.com/grsan45" class="nav-link">Github</a></li>
                <li class="nav-item active"><a href="https://twitter.com/grsan69" class="nav-link">Twitter</a></li>
                <li class="nav-item active"><a href="https://www.youtube.com/@grsan45" class="nav-link">Youtube</a></li>
            </ul>
        </div>
    </nav>
    <hr>

    <h1>Grayson's Odd Operating System Endeavour</h1>
    <h4>aka GOOSE</h4>
    <hr>
    <h6>More on this soon...</h6>
    <a href="http://github.com/grsan45/GOOSE">Repo Link</a>

    <div class="footer fixed-bottom opacity-75 row">
        <p>This website and all projects on it are licensed under GNU-GPLv3</p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>