<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="'OG' Name Generator">
    <meta property="og:description" content="An 'OG' name generator for Minecraft - Made by Grsan#6969">
    <meta property="og:image" content="../images/discordavatar.png">


    <link rel="shortcut icon" href="../favicon.ico?" type="image/x-icon">

    <title>"OG" Name generator</title>
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>

    <div class="container">

        <a href="../index.html">&larr;</a>

        <div class="row">
            <h1 class="column">"OG" Name Generator</h1>
            <h3 class="column">Discord: <b>Grsan#6969</b></h3>
        </div>
        <hr>

        <div class="row">
            <div class="column">
                <h3>Name to "Og"-ify</h3>
                <input type="text" name="name" id="ogname" class="indent" autocomplete="off" placeholder="OG Name"><br>

                <h3>"Og"-ifiers:</h3>

                <div class="indent" id="optionWrapper">

                    <div class="row">
                        <input type="checkbox" name="prefix" id="addPrefix">
                        <label for="addPrefix" id="addPrefixLabel">
                            Add a prefix?
                        </label>
                    </div>

                    <div class="row">
                        <input type="checkbox" name="suffix" id="addSuffix">
                        <label for="addSuffix" id="addSuffixLabel">
                            Add a suffix?
                        </label>
                    </div>

                    <div class="row">
                        <input type="checkbox" name="vowel" id="replaceVowels">
                        <label for="replaceVowels" id="replaceVowelsLabel">
                            Replace vowels with 'x' or 'q'?
                        </label>
                    </div>
                </div>
            </div>

            <div class="column center-items">
                <h1 style="font-weight: 100; font-size: 72px" id="generatedName"></h1>
                <h4 id="nameTaken"></h4>
                <button onclick="updateName()" id="regen"> Regenerate Name</button>
            </div>
        </div>

    </div>

    <p class="footer" >
        <!-- Having this as a <p> tag breaks indentation its so weird what-->
        <span class="faded">Info on the vowel replacement system:
            <b>For every vowel group (i.e. eai) only the last vowel is selected, and every vowel has a 50% chance of being changed to the replacement char (x or q)</b>
        </span><br><br>

        This project is so stupid and so unnecessarily complex - it has literally taken 8 hours of my life<br>
        Disclaimer about the name availability checker: &emsp;The request can take some time - also don't go crazy with spamming characters, Mojang will temporarily block your IP if you do.
    </p>

    <script src="../js/jquery-3.5.1.min.js"></script>

    <script>
        const prefixes = ["Re", "Dis", "Un", "De"];
        const suffixes = ["icated", "ified", "ity", "ness", "ify"];

        // reference elements
        let generatedName = $("#generatedName");
        let ogName = $("#ogname");

        let addPrefix = $("#addPrefix");
        let addSuffix = $("#addSuffix");
        let replaceVowels = $("#replaceVowels");

        let regenerateName = $("#regen");
        let nameTaken = $("#nameTaken");

        // page setup
        $("#addPrefixLabel").append("<span class='indent faded'>Prefixes: <b>" + prefixes.join(", ") + "</b></span>");
        $("#addSuffixLabel").append("<span class='indent faded'>Suffixes: <b>" + suffixes.join(", ") + "</b></span>");
        regenerateName.hide();

        // the output "og" name
        let name = "";

        ogName.on("input", () => {
            updateName();
        });

        addPrefix.add(addSuffix).add(replaceVowels).change(updateName);

        // this code is in a method since I need to apply the modifiers in a specific order,
        // rather than applying modifiers in the order they are activated
        function updateName() {
            name = ogName.val();

            // doing this to prevent the output being something like "Disity" when the name field is emptied
            if (!name) {
                regenerateName.hide();
                generatedName.text("");
                return;
            }

            // show the regenerate name button if the name isn't empty (not the best place but it'll work)
            regenerateName.show();

            //TODO: Advanced Options
            //TODO:   - Replacement Ratio?
            //TODO:   - Custom replacement filters
            if (replaceVowels.prop("checked")) {

                let vowel = Math.round(Math.random()) ? 'x' : 'q';

                //this is using negative lookahead which should work on 90% of browsers but if it doesn't then uhh stop using netscape navigator
                let match = "", re =/[aeiou](?![aeiou])+?/g, indexes = [];
                while ((match = re.exec(name)) != null && Math.round(Math.random())) {
                    indexes.push(match.index); //@JS and ECMAScript teams - GIVE US AN INDEX PROPERTY ON MATCHES FROM String.prototype.match() SO I DONT HAVE TO DO THIS CRAP
                }

                indexes.forEach((i) => {
                    name = name.substring(0, i) + vowel + name.substring(i + 1);
                })
            }

            //TODO: maybe don't add a prefix/suffix if the og name already has one as to prevent "ReDisGrsxnifyicated"
            if (addPrefix.prop("checked")) {
                let prefix = prefixes[Math.floor(Math.random() * prefixes.length)];
                name = prefix + name;
            }

            if (addSuffix.prop("checked")) {
                let suffix = suffixes[Math.floor(Math.random() * suffixes.length)];
                name = name + suffix;
            }

            // i hate cors
            fetch(`https://cors-anywhere.herokuapp.com/api.mojang.com/users/profiles/minecraft/${name}`)
                .then(res => {
                    if (res.status === 204) {
                        if (name.length < 3)
                            nameTaken.html("<span style='color: #b3414e'> This name is too short! (Minimum 3 chars) </span>");
                        else
                            nameTaken.html("<span style='color: #4eb359'> This name is free! (big surprise) </span>");
                    } else if (res.status === 200) //doing else if so if for some reason we get a 404 or a 500 - we don't return incorrect infr
                        nameTaken.html("<span style='color: #b3414e'> This name is taken... how? </span>");
                    else if (res.status === 400)
                        nameTaken.html("<span style='color: #b3414e'> This name is too long bud </span>");
                    else
                        nameTaken.text("");
                });

            generatedName.text(name);
        }
    </script>

</body>
</html>